@page "/listadoTitulares"
@inject ListarTitularesUseCase ListarTitularesUseCase
@inject EliminarTitularUseCase EliminarTitularUseCase
@inject NavigationManager Navegador

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>APELLIDO</th>
            <th>NOMBRE</th>
            <th>DNI</th>
            <th>TELEFONO</th>
            <th>DIRECCION</th>
            <th>EMAIL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in _lista)
        {
            <tr>
                <td>@t.Id</td>
                <td>@t.Apellido</td>
                <td>@t.Nombre</td>
                <td>@t.Dni</td>
                <td>@t.Telefono</td>
                <td>@t.Direccion</td>
                <td>@t.Email</td>
                <td>
                    <button class="btn btn-primary" @onclick="()=>ModificarTitular(t)">
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(t)">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<DialogoConfirmacion @ref=dialogo />
<DialogoConfirmacion @ref="dialogoEliminar" OnConfirmado="Eliminar" />
@code
{
    List<Titular> _lista = new List<Titular>();
    DialogoConfirmacion dialogo = null!;
    protected override void OnInitialized()
    {

        try
        {
            _lista = ListarTitularesUseCase.Ejecutar();
        }
        catch (Exception e)
        {
            dialogo.Mensaje = "Error: " + e.Message;
            dialogo.Mostrar();
        }
    }
    DialogoConfirmacion dialogoEliminar = null!;
    Titular? _titularParaEliminar = null;
    private void ConfirmarEliminacion(Titular t)
    {
        _titularParaEliminar = t;
        dialogoEliminar.Mensaje = $"¿Desea eliminar el titular {t.Id}?";
        dialogoEliminar.Mostrar();
    }
    private void Eliminar()
    {
        try
        {
            if (_titularParaEliminar != null)
            {
                EliminarTitularUseCase.Ejecutar(_titularParaEliminar.Id);
                _lista = ListarTitularesUseCase.Ejecutar();
            }
        }
        catch (Exception e)
        {
            dialogo.Mensaje = "Error: " + e.Message;
            dialogo.Mostrar();
        }
    }
    void ModificarTitular(Titular t)
    {
        Navegador.NavigateTo($"titular/{t.Id}");
    }
}