@page "/listadoPolizas"
@inject ListarPolizasUseCase ListarPolizasUseCase
@inject EliminarPolizaUseCase EliminarPolizaUseCase
@inject NavigationManager Navegador

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>ID VEHICULO</th>
            <th>VALOR</th>
            <th>FRANQUICIA</th>
            <th>COBERTURA</th>
            <th>INICIO</th>
            <th>FIN</th>
            <th>ACCIÓN</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in _lista)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.VehiculoId</td>
                <td>@p.Valor</td>
                <td>@p.Franquicia</td>
                <td>@p.TipoCobertura</td>
                <td>@p.FechaInicioVigencia</td>
                <td>@p.FechaFinVigencia</td>
                <td>
                    <button class="btn btn-primary" @onclick="()=>ModificarPoliza(p)">
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(p)">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<DialogoConfirmacion @ref=dialogo/>
<DialogoConfirmacion @ref="dialogoEliminar" OnConfirmado="Eliminar" />
@code
{
    List<Poliza> _lista = new List<Poliza>();
    DialogoConfirmacion dialogo = null!;
    protected override void OnInitialized()
    {

        try
        {
            _lista = ListarPolizasUseCase.Ejecutar();
        }
        catch (Exception e){
            dialogo.Mensaje = "Error: " + e.Message;
            dialogo.Mostrar();
        }
    }
    DialogoConfirmacion dialogoEliminar = null!;
    Poliza? _polizaParaEliminar = null;
    private void ConfirmarEliminacion(Poliza p)
    {
        _polizaParaEliminar = p;
        dialogoEliminar.Mensaje = $"¿Desea eliminar la póliza {p.Id}?";
        dialogoEliminar.Mostrar();
    }
    private void Eliminar()
    {
        try
        {
            if (_polizaParaEliminar != null)
            {
                EliminarPolizaUseCase.Ejecutar(_polizaParaEliminar.Id);
                _lista = ListarPolizasUseCase.Ejecutar();
            }
        }
        catch (Exception e){
            dialogo.Mensaje = "Error: " + e.Message;
            dialogo.Mostrar();
        }
    }
    void ModificarPoliza(Poliza p)
    {
        Navegador.NavigateTo($"poliza/{p.Id}");
    }

}